/* Defining the Heading1 styling*/
h1{font-weight:900;color:ghostwhite;background-color:dimgray;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

/* Defining the Heading2 styling */
h2{font-weight:700;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

/* Defining the paragraph styling */
p{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:darkslategray;
    color: aliceblue;}